<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm p-4">
        <h3 class="text-center mb-4">Create Teacher</h3>
        <form action="/teacher/add" method="post">
          <div class="mb-3">
            <label for="teacher_email" class="form-label">Teacher Email</label>
            <input type="email" class="form-control" id="teacher_email" placeholder="Enter email" name="teacher_email" required>
          </div>
          <div class="mb-3">
            <label for="teacher_pass" class="form-label">Password</label>
            <input type="password" class="form-control" id="teacher_pass" placeholder="Enter Password" name="teacher_pass" required>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark btn-lg">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>









<!-- 
    <div class="container d-flex justify-content-center w-50 py-5">
        <div class="row">
            <h3>Create Teacher</h3>
        <form action="/teacher/create" method="post">
            <div class="mb-3 mt-2">
                <label for="teacher_email p-3">Teacher email</label>
                <input type="email" class="form-control" id="teacher_email" placeholder="Enter email" name="teacher_email">
            </div>
            <div class="mb-3">
                <label for="teacher_pass">Password :</label>
                <input type="text" class="form-control" id="teacher_pass" placeholder="Enter Password" name="teacher_pass">
            </div>
            <button type="submit" class="btn btn-dark">Create</button>
        </form>
        </div>
    </div> -->