<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3 class="text-center">All Teachers</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Teacher Email</th>
          </tr>
        </thead>
        <tbody>
          <% teachers.forEach(teacher => { %>
          <tr>
            <td><%= teacher.email %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>