<div class="container-fluid"  style="background-color: #276b93; ">
    <div class="row px-5">
        <div class="col-md-3 text-lg-start" style="background-color: #276b93; ">
            <h5 class="py-md-3 text-white">Teacher Dashboard</h5>
        </div>
        <div class="col-md-9" style="background-color: #276b93; ">
            <h5 class="py-md-3 text-lg-right text-white">Attendance Management System 2019</h5>
        </div>
    </div>
</div>