/* .container{
    background-color: white;
}

body{
    background: lightgray;
}
.logo.text-white h2 i {
    font-family: math;
    font-weight: bold;
}
.text-white.menu ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}
.text-white.menu ul li {
    display: inline-block;
    margin-left: 12px;
    font-size: 20px;
}
.logo.text-white h2 {
    margin-top: 15px;
    margin-left: 17px;
}
.text-white.menu {
    text-align: right;
    margin-right: 31px;
    margin-top: 2px;
}
.text-white.menu ul li {
    padding: 17px 4px;
}
.text-white.menu ul li a:hover{
    color: red;
} */